@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row justify-content-center g-3">

    <div class="col-sm-6 col-md-4">
       <a href="/home/drinks">
          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/dbriqxpaa/image/upload/v1682753193/asp-net/task1/soft-drink_x81jwm.png" alt="Drink">
            <div class="card-body">
              <h2 class="card-title">Drinks</h2>
              <p class="card-text">Choose from a variety of refreshing beverages.</p>
            </div>
          </div>
       </a>
    </div>

    <div class="col-sm-6 col-md-4">
        <a href="/home/hotmeals">
            <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/dbriqxpaa/image/upload/v1682753115/asp-net/task1/hot-pot_cmm3rw.png" alt="Hot Meal">
            <div class="card-body">
            <h2 class="card-title">Hot Meals</h2>
            <p class="card-text">Enjoy a delicious hot meal, made to order.</p>
            </div>
        </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-4">
        <a href="/home/fastfoods">
          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/dbriqxpaa/image/upload/v1682753159/asp-net/task1/fast-food_z1u0pi.png" alt="Fast Food">
            <div class="card-body">
              <h2 class="card-title">Fast Food</h2>
              <p class="card-text">Get your food fast and enjoy it on-the-go.</p>
            </div>
          </div>
      </a>
    </div>
  </div>
</div>
